.f-container{
    justify-content: space-between;
border-top: 1px solid rgba(0, 0, 0,0.148);
}

.f-container .primaryText{
    color: #1f3e72;
}
.f-left{
    gap: 1rem;
}
.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}

@media (max-width:768px){
    .f-container{
        flex-direction: column;
        align-items: center;

    }
    .f-right{
        align-items: center;
    }
    .f-left{
        align-items: center;
    }
}